* {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}


/* Aplico una imagen de fondo al propio body */

body {
    background-image: url(../imatges/cover_image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* De esta forma la lista es horizontal y tiene los puntos ocultos */

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.menu_items {
    float: left;
    transition: 250ms;
}

.menu_items {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.menu_items:hover {
    background-color: #111111;
}

.cover h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    display: block;
}


/* Aplico esta propiedad a varios selectores a la vez con el uso de comas */

.cover h1,
.info,
.form,
footer {
    background-color: #fff;
}

.info,
.form {
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.form_options {
    list-style-type: none;
}


/* Al comportarse como una tabla hace un salto de línea, lo cual es conveniente en este escenario */

.form_options label {
    display: table-cell;
}

.form_options li {
    margin-bottom: 20px;
}

.form #missatge_contacte {
    height: 100px;
    width: 300px;
}

.form input,
.form select,
.form textarea {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border: 2px #111111 solid;
    border-radius: 2px;
}

.info h3,
.info .h3_section {
    margin-top: 20px;
}


/* Para hacer que otros elementos se comporten como h3 */

.h3_section {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    font-weight: bold;
}


/* El hueco de 500px a traves del cual se ve el background-image del body */

div .void {
    height: 500px;
}

.empty_table {
    border: none;
}

.content_table {
    border-collapse: collapse;
    width: 100%;
}

.content_table th,
.content_table td {
    text-align: left;
    padding: 8px;
}


/* Numeros impares con fondo #fff y pares con fondo #ddd
Poner #fff es redundante en este caso porque el fondo ya es de ese color */

.content_table tr:nth-child(odd) {
    background-color: #fff;
}

.content_table tr:nth-child(even) {
    background-color: #ddd;
}


/* Todas las imagenes tienen esta clase, pero aun asi quise separarlo en una clase diferente
y no aplicar estas propiedades al selector "img" por si en algún momento quería poner una imagen que no tuviera el efecto */

.element_hover {
    transition: 300ms;
    padding-top: 50px;
    padding-bottom: 50px;
}


/* Con esto las imagenes parecen interactivas, ninguna lo es */

.element_hover:hover {
    transform: scale(1.1);
}

.element_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Solo hay un mapa de imagenes, es más eficente usar una "id" que una "class" */

.centered,
#county_map {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.maxwidth {
    width: 100%;
}


/* Tenía pensado hacer algo más elaborado con esto, pero no tengo tiempo */

footer {
    height: 100px;
}