* {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url(../imatges/cover_image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.menu_items {
    float: left;
    transition: 250ms;
}

.menu_items {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.menu_items:hover {
    background-color: #111111;
}

.cover h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    display: block;
}

.cover h1,
.info,
.form,
footer {
    background-color: #fff;
}

.info,
.form {
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.form_options {
    list-style-type: none;
}

.form_options label {
    display: table-cell;
}

.form_options li {
    margin-bottom: 20px;
}

.form #missatge_contacte {
    height: 100px;
    width: 300px;
}

.form input,
.form select,
.form textarea {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border: 2px #111111 solid;
    border-radius: 2px;
}

.info h3,
.info .h3_section {
    margin-top: 20px;
}

.h3_section {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    font-weight: bold;
}

div .void {
    height: 500px;
}

.empty_table {
    border: none;
}

.content_table {
    border-collapse: collapse;
    width: 100%;
}

.content_table th,
.content_table td {
    text-align: left;
    padding: 8px;
}

.content_table tr:nth-child(odd) {
    background-color: #fff;
}

.content_table tr:nth-child(even) {
    background-color: #ddd;
}

.element_hover {
    transition: 300ms;
    padding-top: 50px;
    padding-bottom: 50px;
}

.element_hover:hover {
    transform: scale(1.1);
}

.element_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centered,
#county_map {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.maxwidth {
    width: 100%;
}

footer {
    height: 100px;
}